<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-nav">
            <a class="navbar-brand" href="#">Brand</a>
            <a class="nav-item nav-link" href="#">Admin</a>
            <a class="nav-item nav-link" href="#">Other</a>
        </div>
    </nav>
    <div class="container">
        {% block body_block %}
<!--        Anything outside of this will be inherited if you extend-->
        {% endblock %}
    </div>
</body>
</html>